@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

/* Coloque aqui seu codigo CSS */
.h-250 {
	max-height: 250px !important;
}
.area-pesquisar {
	margin-bottom: 13px !important;
}
.custom-panel-ghfly {
	border: 0 !important;
}
.custom-panel-ghfly > .panel-heading {
	color: #FFF !important;
	font-family: 'Open Sans', sans-serif;
}
.custom-panel-ghfly > .panel-body {
	padding: 15px !important;
	overflow: hidden !important;
	padding-bottom: 21px !important;
}
.custom-panel-ghfly > .panel-body .media-list > li {
	border-bottom: 1px solid #DDD !important;
	padding-bottom:21px !important;
}
.custom-panel-ghfly > .panel-body .media-list > li:last-child {
	border-bottom:0 !important;
}
.custom-panel-ghfly > .panel-body .media-list > li > .media-body > h4 {
	font-size: 14px;
	font-weight: bold;
}
.custom-panel-ghfly > .panel-body .media-list > li > .media-body > .ramal {
	font-size: 14px;
}
.user-avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;	
}
#heading-ramais {
	background-color: #2fc7f7 !important;
}